<!-- Social -->
<section class="module" id="social">
    <h2 class="module-title">
        Connect With Me
    </h2>
    <ul class="social">
        <li><a href="//facebook.com/imdeadlydude"><i class="fa fa-facebook"></i></a></li>
        <li><a href="//twitter.com/saymenik"><i class="fa fa-twitter"></i></a></li>
        <li><a href="//instagram.com/half.died.dude"><i class="fa fa-instagram"></i></a></li>
        <li><a href="//plus.google.com/+NIKLAKHANI009/"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="//in.linkedin.com/in/nik-lakhani-18009b69"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="{{ site.url }}/feed.xml"><i class="fa fa-feed"></i></a></li>
    </ul>
</section>
<!-- /Social -->