---
---
@import "bits";
@import "normalize";
@import "mixins";
@import "global";
@import "grid";

@import "blog/global";
@import "blog/typography";

.header {
	background: url(../images/road.jpg);
	min-height: 100vh;
	width: 100%;
	position: relative;
	z-index: 100;
	padding: 100px 20px;

	.overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(51, 51, 51, .7);
	}
}

.logo {
	margin: 0 auto;
	position: relative;
	z-index: 10;
	height: 60px;
	width: 60px;
	background: url(../images/road.jpg);
	border-radius: 50%;
	a {
		border-radius: 50%;
		display: block;
	}

	.logo-inner,
	.logo-inner > span {
		display: block;
		position: relative;
		border-radius: 50%;
	}

	.logo-inner {
		height: 52px;
		width: 52px;
		background: darken($yellow, 15%);
		left: 4px;
		top: 4px;

		&:hover > span {
			@include transform(rotate(360deg));
			transition: all 600ms linear;
		}

		> span {
			background: $yellow;
			height: 44px;
			width: 44px;
			top: 4px;
			left: 4px;
			font-size: 36px;
			font-weight: 700;
			color: darken($yellow, 15%);
			text-align: center;
			line-height: 44px;
			text-transform: uppercase;
			&:after {
				@include vcenter();
				content: "";
				width: 100%;
				height: 4px;
				left: 0;
				background: darken($yellow, 15%);
			}
		}
	}
}

.whoops-content {
	position: relative;
	z-index: 150;
	padding-top: 50px;
	text-align: center;

	p {
		padding: 0;
		margin: 20px 0 0;
		color: white;
		a {
			text-decoration: underline;
		}
	}
}

h1.whoops {
	@include font-stack-lucida;
	color: $white;
	margin: 0;
	padding: 0;
}